<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<body>
        <p>You have been invited by @Model.OrganizationName to participate in the InterviewTools FillPerfect pilot program.</p>

        <p>
            To find more information on InterviewTools FillPerfect and to download the software, visit
            <a href="http://interviewtools.net/fillperfect/welcome-to-interviewtools-fillperfect-students/">our website.</a>
        </p>

        <p>
            To activate your software, use the key @Model.FpKey
        </p>
	</body>
</html>