@model MyJobLeads.DomainModel.Entities.Organization

@{
    ViewBag.Title = "University Dashboard";
}

<div class="grid1 floatLeft"> 
    <div class="lineSeperater"> 
        <div class="pageInfoBox">         
            <div class="grid3 marginBottom_10 marginAuto floatLeft"> 
                <h3 class="floatLeft">University Dashboard</h3> 
                @Html.ActionLink("Edit Details", MVC.Organization.EditOrganization.Index(Model.Id), new { @class = "floatRight blueLinks", title = "Edit Details" })
            </div> 
                
            <div class="grid3 marginBottom_10 floatLeft"> 
                <div class="floatLeft"><p class="greyHighlight">University Name:</p>
                    <div class="infoSpan">@Model.Name</div>
                </div> 
            </div> 

            <div class="grid3 marginBottom_10 floatLeft"> 
                <div class="floatLeft"><p class="greyHighlight">Number of Students:</p>
                    <div class="infoSpan">@Model.Members.Count</div>
                </div> 
            </div> 

            <div class="grid3 marginBottom_10 floatLeft"> 
                <div class="floatLeft"><p class="greyHighlight">Registration URL:</p>
                    <div class="infoSpan">
                        @Html.ActionLink(Url.Action("RegisterWithOrganization", "Account", new { area = "", registrationToke = Model.RegistrationToken }),
                            MVC.Account.RegisterWithOrganization(Model.RegistrationToken), new { @class = "inlineBlue" })
                    </div>
                </div> 
            </div> 

            @if (Model.IsEmailDomainRestricted)
            {
                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft">
                        <p class="greyHighlight">Students must register with an email from the <span class="greyHighlight">@@@Model.EmailDomains.First().Domain</span> domain</p>
                    </div> 
                </div>
            }

            else
            {
                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight"></p>
                        <div class="infoSpan">Students can register with any email address</div>
                    </div> 
                </div>
            }

            <div class="clear"></div> 
        </div> 
    </div> 
</div> 