@model MyJobLeads.DomainModel.Entities.Organization

@{
    ViewBag.Title = "University Dashboard";
}

@section SideBar {
    @{Html.RenderAction(MVC.Home.SidebarDisplay(MyJobLeads.Controllers.ActiveSidebarLink.OrgAdmin));}
}

<div class="grid1 floatLeft"> 
    <div class="pageInfoBox">         
        <div class="grid3 marginBottom_10 marginAuto floatLeft"> 
            <h3 class="floatLeft">University Dashboard</h3> 
            @Html.ActionLink("Edit University Options", MVC.Organization.EditOrganization.Index(Model.Id), new { @class = "floatRight blueLinks", title = "Edit University Options" })
        </div> 
                
        <div class="grid3 marginBottom_10 floatLeft"> 
            <div class="floatLeft"><p class="greyHighlight">University Name:</p>
                <div class="infoSpan">@Model.Name</div>
            </div> 
        </div> 

        <div class="grid3 marginBottom_10 floatLeft"> 
            <div class="floatLeft"><p class="greyHighlight">Number of Students with an Account in MyLeads:</p>
                <div class="infoSpan">@Model.Members.Count</div>
            </div> 
        </div> 

        <div class="grid3 marginBottom_10 floatLeft"> 
            <div class="floatLeft"><p class="greyHighlight">Registration URL for Students:</p>
                <div class="infoSpan">
                    @Html.ActionLink(Url.Action("RegisterWithOrganization", "Account", new { area = "", registrationToke = Model.RegistrationToken }),
                        MVC.Account.RegisterWithOrganization(Model.RegistrationToken), new { @class = "inlineBlue" })
                </div>
            </div> 
        </div> 

        @if (Model.IsEmailDomainRestricted)
        {
            <div class="grid3 marginBottom_10 floatLeft"> 
                <div class="floatLeft">
                    <p class="greyHighlight">Students must register with an email from the <span class="greyHighlight">@@@Model.EmailDomains.First().Domain</span> domain</p>
                </div> 
            </div>
        }

        else
        {
            <div class="grid3 marginBottom_10 floatLeft"> 
                <div class="floatLeft"><p class="greyHighlight"></p>
                    <div class="infoSpan">Students can register with any email address</div>
                </div> 
            </div>
        }

        <div class="clear"></div> 
    </div> 
</div> 