<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="from@address.com">
        <network host="localhost" port="56234" />
      </smtp>
    </mailSettings>
  </system.net>
  
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="MyJobLeadsDbContextOld" connectionString="Data Source=Local.sdf" providerName="System.Data.SqlServerCe.4.0" />
      <add name="MyJobLeadsDbContext"
         connectionString="Data Source=kalltop\sqlexpress;Initial Catalog=mjlunittest;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
