<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="from@address.com">
        <network host="localhost" port="56234" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="LiApiKey" value="rgszepmm0rlr" />
    <add key="LiApiSecret" value="ATPmOLjJyyaDIk3X" />
    <add key="JigsawKey" value="LHRqdBadRUVh3cdMYoeuYVng/qQlgvBReEAg5JvO48E=" />
    <add key="JigsawIV" value="CB7hOrmWxs2riRF26Imn7w==" />
    <add key="JigsawToken" value="saf5yeavmf865mvc8k2zscqe" />
  </appSettings>
  <connectionStrings>
    <add name="MyJobLeadsDbContextOld" connectionString="Data Source=Local.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <add name="MyJobLeadsDbContext" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=mjlunittest;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Yahoo.Yui.Compressor" publicKeyToken="f8b4b81ec75097e2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>