@{
    ViewBag.Title = "Registration Closed";
}

@section SideBar {
    @{Html.RenderAction(MVC.Home.SidebarDisplay(MyJobLeads.Controllers.ActiveSidebarLink.Register));}
}

<div class="grid1 floatLeft"> 
        <div class="pageInfoBox"> 

                <div class="grid3 marginBottom_10 marginAuto floatLeft"> 
                    <h3 class="floatLeft">Registration Closed</h3> 
                </div> 
                
                <div class="grid3 marginBottom_10 marginAuto floatleft">
                    <p class="floatLeft infoSpan">
                        General registration is currently closed.  Registration is currently open only to students of select universities.
                        If your university is enrolled in the MyLeads program, please create an account from the registration link provided by your university.
                    </p>
                </div>

                <div class="grid3 marginBottom_10 marginAuto floatLeft"> 
                </div> 

                <div class="clear"></div> 
        </div> 
</div> 
