@model MyJobLeads.ViewModels.LogOnModel

@{
    ViewBag.Title = "Log On";
}

@section SideBar {
    @{ Html.RenderAction(MVC.Home.SidebarDisplay(MyJobLeads.Controllers.ActiveSidebarLink.Logon)); }
}

<div class="grid1 floatLeft"> 
    <div class="lineSeperater"> 
        <div class="pageInfoBox"> 
            @using (Html.BeginForm()) 
            {
                <div class="grid3 marginBottom_10 marginAuto floatLeft"> 
                    <h3 class="floatLeft">Log On</h3> 
                </div> 
                
                <div class="grid3 marginBottom_10 marginAuto floatLeft">
                    <p>
                        If you do not have an account, please use the registration link provided by your university. <br />
                        If you have forgotten your password, you can @Html.ActionLink("generate a new one", MVC.Account.ResetPassword(), new { @class = "inlineBlue" })
                    </p>    
                </div>
                
                <div class="grid3 marginBottom_10 marginAuto floatleft">
                    <div class="floatLeft infoSpan">
                        @Html.ValidationSummary()
                    </div>
                </div>
                
                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Email:</p>
                        <div class="infoSpan">@Html.TextBoxFor(x => x.UserName, new { @class = "info" })</div>
                    </div> 
                </div> 

                <div class="grid3 marginBottom_10 floatLeft"> 
                    <div class="floatLeft"><p class="greyHighlight">Password:</p>
                        <div class="infoSpan">@Html.PasswordFor(x => x.Password, new { @class = "info "})</div>
                    </div> 
                </div> 

                <div class="grid3 marginBottom_20 floatLeft"> 
                    <div class="submitBTN "><input type="submit" value="Log On" /></div>                    
                </div> 
            }

            <div class="clear"></div> 
        </div> 
    </div> 
</div> 