@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset User Password</h2>

Enter your email to reset your password:<br />
@using (Html.BeginForm(MVC.Account.ResetPasswordResult()))
{
    @Html.TextBox("userEmail") <input type="submit" value="Reset" />
}

