@{
    ViewBag.Title = "Password Reset";
}

<div class="grid1 floatLeft"> 
    <div class="pageInfoBox"> 
        @using (Html.BeginForm()) 
        {
            
            <div class="grid3 marginBottom_10 marginAuto floatLeft">
                <h3>Reset Password</h3>
            </div>

            <div class="grid3 marginBottom_10 marginAuto floatLeft">
                <p>
                    This page allows you to reset the password on your account.  After entering your email address, if your account
                    exists in the system we will generate a random password and email it to you.
                </p>
            </div>
            
            <div class="grid3 marginBottom_10 marginAuto floatleft">
                <div class="floatLeft infoSpan">
                    @Html.ValidationSummary()
                </div>
            </div>
                
            <div class="grid3 marginBottom_10 floatLeft"> 
                <div class="floatLeft"><p class="greyHighlight">Email:</p>
                    <div class="infoSpan">@Html.TextBox("userEmail", (string)ViewBag.LastEmail, new { @class = "info" })</div>
                </div> 
            </div> 
            
            <div class="grid3 marginBottom_20 floatLeft"> 
                <div class="submitBTN "><input type="submit" value="Reset Password" /></div>                    
            </div> 
            
        }
        <div class="clear"></div>
    </div>
</div>