@model Boolean

@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Password Reset</h2>
@if (Model)
{
    <p>
        Password successfully reset.  You should receive an email notifying you of your new password.
    </p>
}
else
{
    <p>
        No user has the email entered.  Please go back and verify the email entered is correct.
    </p>
}



