@model MyJobLeads.Areas.Reports.Models.SiteActivityViewModels.ExportSiteActivityViewModel

@{
    ViewBag.Title = "Site Activity Report";
}

@using (Html.PageInfoBox(false))
{
    using (Html.OuterRow())
    {
        <h3>Site Visitors</h3>
    }

    using (Html.OuterRow())
    {
        using (Html.ContentArea())
        {
            <p>
                This page shows known users who have visited the CMS.  Select a starting and end date to generate a report for.
            </p>
        }
    }

    using (Html.BeginForm())
    {
        using (Html.OuterRow())
        {
            using (Html.ValidationArea())
            {
                @Html.ValidationSummary()
            }
        }
        
        using (Html.OuterRow())
        {
            using (Html.FormFieldArea(new HtmlString("Start Date")))
            {
                @Html.Telerik().DatePickerFor(x => x.StartDate)
            }
            
            using (Html.FormFieldArea(new HtmlString("End Date")))
            {
                @Html.Telerik().DatePickerFor(x => x.EndDate)
            }
        }
        
        using (Html.OuterRow())
        {
            Html.FormField(new HtmlString("Sort results by date, in descending order?"), Html.CheckBoxFor(x => x.SortByDescending));
        }
        
        using (Html.OuterRow())
        {
            Html.FormField(new HtmlString("Ignored emails (one per line):"), Html.TextAreaFor(x => x.IgnoredUserList, new { @class = "textAreaInfo" }));
        }

        using (Html.OuterRow())
        {
            using (Html.FormButtonArea())
            {
                <input type="submit" value="Download Report" />
            }
        }
    }
}
