<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Simple.Data.Core" version="0.5.2" />
  <package id="Simple.Data.SqlCompact40" version="0.5.2" />
  <package id="SqlServerCompact" version="4.0.8482.1" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.2" />
  <package id="WebActivator" version="1.4" />
  <package id="Jose.MVC.Windsor" version="1.0.0" />
  <package id="T4MVC" version="2.6.44" />
  <package id="EntityFramework" version="4.1.10311.0" />
</packages>