@{
    ViewBag.Title = "Privacy Policy";
}

<div class="grid1 floatLeft"> 
    <div class="pageInfoBox"> 
        <div class="grid3 marginBottom_10 marginAuto floatLeft">
            <h3>We Protect Your Privacy</h3>
        </div>

        <div class="grid3 marginBottom_10 marginAuto floatLeft">
            <p>
                <ul class="decoratedList">
                    <li class="marginBottom_10">
                        All information you upload / enter into the MyLeads system is not accessible to any other students. In 
                        addition, specific notes, contacts, and contact details cannot be read or monitored by others, including 
                        the Career Services administrator.
                    </li>

                    <li class="marginBottom_10">
                        The only information provided to your Career Services administrator are metrics measuring activity – the 
                        number of tasks that you completed, the number of interviews, the number of contacts (not contact 
                        details), etc. This information is provided to help Career Services aid you in your job search, by measuring 
                        your progress in the job search. Metrics are only available to the Career Services administrator – no 
                        With one click, MyLeads downloads your entire database to your desktop, in Excel format.students or non-administrator accounts 
                        have access to any information about your account or activity, 
                        including metrics.
                    </li>

                    <li>
                        MyLeads and InterviewTools will not pass on your email address or personal information to third-parties, without your permission. 
                        In addition, we do not allow others to solicit you, through our system. Your email and all information 
                        provided during  registration remains private within MyLeads, and is used to help manage your account. 
                    </li>
                </ul>
            </p>

            <p>
                If you have any questions about your data or security, please feel free to contact us at 
                    <a class="inlineBlue" href="mailto:support@interviewtools.net">support@interviewtools.net</a>
            </p>
        </div>
            
        <div class="clear"></div>
    </div>
</div>
