@{
    ViewBag.Title = "Security Policy";
}

<div class="grid1 floatLeft"> 
    <div class="pageInfoBox"> 
        <div class="grid3 marginBottom_10 marginAuto floatLeft">
            <h3>Your Data Is Safe!</h3>
        </div>

        <div class="grid3 marginBottom_10 marginAuto floatLeft">
            <p>
                <ul class="decoratedList">
                    <li class="marginBottom_10">
                        Data is never deleted from the database. When you update a contact or company, the data is stored twice 
                        – once in the MyLeads database, and once in an “audit” table. This allows complete recoverability, at any 
                        time, in the case of user / program error, hardware malfunction, or asteroid collision.
                    </li>

                    <li class="marginBottom_10">
                        Database backups are made daily. Backups are retained for at least six days
                    </li>

                    <li>
                        Only the user that owns the data (you!) can access or edit your information. All other users will be denied access. 
                    </li>

                    <li>
                        You can download all your data at any time.
                    </li>
                </ul>
            </p>

            <p>
                If you have any questions about your data or security, please feel free to contact us at 
                    <a class="inlineBlue" href="mailto:support@interviewtools.net">support@interviewtools.net</a>
            </p>
        </div>
            
        <div class="clear"></div>
    </div>
</div>
