@{
    ViewBag.Title = "RefreshSearchIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Index Updated</h2>

Update successful.<br /><br />

@Environment.GetFolderPath(Environment.SpecialFolder.ApplicationData)