<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt" version="1.0.0.0" />
  <package id="Lucene" version="2.9.2.2" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="WebActivator" version="1.4.1" />
  <package id="FluentValidation" version="3.0.0.1" />
  <package id="AutoMapper" version="1.1.0.118" />
</packages>