@model MyJobLeads.ViewModels.Tasks.TaskDashboardViewModel
@using MyJobLeads.Controllers;

@{
    ViewBag.Title = "Future Tasks";
}

@section SideBar {
    @{Html.RenderAction(MVC.Home.SidebarDisplay(ActiveSidebarLink.Tasks));}
}

<div class="grid2 floatLeft">
    <div class="taskHeader">
        <h3>Future Tasks</h3>
        <ul class="taskNotification">
            <li><a href="@Url.Action(MVC.Task.Overdue())" title="Overdue Tasks">Overdue: <span>(@Model.OverdueTasks.Count)</span></a></li>
            <li><a href="@Url.Action(MVC.Task.Today())" title="Today's Tasks">Today: <span>(@Model.TodaysTasks.Count)</span></a></li>
        </ul>       
    </div>

    @if (Model.FutureTasks.Count == 0)
    {
        @:You have no tasks due in the future
    }

    else
    {
        Html.RenderPartial(MVC.Task.Views.TaskListControl, Model.FutureTasks);
    }
</div>

@if (Model.CurrentMilestone != null)
{
    Html.RenderPartial(MVC.JobSearch.Views._JsMilestoneDisplay, Model);
}