@model IList<MyJobLeads.DomainModel.Entities.Task>

<div id="taskRole">
    <ul>
        @foreach (var task in Model)
        {
            string taskDescription;
                 
            // Create the description string
            if (task.Contact == null)
            {
                taskDescription = task.Company.Name;
            }
            else
            {
                taskDescription = string.Format("{0} -- {1}", task.Contact.Name, task.Company.Name);
            }
            
            <li>
                <a href="@Url.Action(MVC.Task.Details(task.Id))">
                    <div class="greyHighlight date">@Html.GetDueDateString(task.TaskDate)</div>
                    <div class="taskName">@task.Name</div>
                    <div class="taskDescription">@taskDescription</div>
                </a>
            </li>
        }
    </ul>
</div>