@model MyJobLeads.ViewModels.Tasks.TaskDashboardViewModel

@{
    ViewBag.Title = "Today's Tasks";
}

<div class="left-content">
    <div class="left">
        <b>Today's Tasks</b>
    </div>
    
    &nbsp; &nbsp; &nbsp;

    <div class="right">
        @Html.ActionLink(string.Format("Overdue ({0})", Model.OverdueTasks.Count), MVC.Task.Overdue(), new { @class = "item-subheading" }) &nbsp; 
        @Html.ActionLink(string.Format("Future ({0})", Model.FutureTasks.Count), MVC.Task.Future(), new { @class = "item-subheading" })
    </div>

    <br /><hr />

    @if (Model.TodaysTasks.Count == 0)
    {
        @:You have no tasks due today
    }

    else
    {
        Html.RenderPartial(MVC.Task.Views.TaskListControl, Model.TodaysTasks);
    }
</div>

<div class="right-content">
    @{Html.RenderPartial(MVC.JobSearch.Views._JsMilestoneDisplay, Model);}
</div>
