@model Company
@using MyJobLeads.DomainModel.Entities;

@{
    string contactString = Model.Contacts.Count == 1 ? "contact" : "contacts";
}

<h2>Contacts</h2>
This company has @Model.Contacts.Count @contactString entered (@Html.ActionLink("Add", MVC.Contact.Add(Model.Id)))

<br /><br />

<ul>
    @foreach (Contact contact in Model.Contacts.OrderBy(x => x.Name).ToArray())
    {
        <li>@Html.ActionLink(contact.Name, MVC.Contact.Details(contact.Id))</li>   
    }
</ul>