@model Contact
@using MyJobLeads.DomainModel.Entities;

@{
    ViewBag.Title = "Contact: " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table width="100%">
    <tr>
        <td valign="top" width="50%">
            @{ Html.RenderPartial(MVC.Shared.Views._CompanyDisplay, Model.Company); }
        </td>

        <td valign="top">
            @{ Html.RenderPartial(MVC.Shared.Views._ContactDisplay, Model); }
        </td>
    </tr>
</table>