#header 
{
    background-color: #1569C7;
    height: 30px;
    overflow: hidden;
}

#logo 
{
    position: relative;
    left: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    float: left;
    margin-top: 3px;
}

#sidebar 
{
    position: absolute;
    float: left;
    width: 130px;
    left: 10px;
    padding: 0;
    margin-top: 30px;
}

#sidebar-links
{
    margin-left: 10px;
}

#sidebar-links a
{
    font-weight: bold;
    text-decoration: none;
    color: #657383;
}

#user-name 
{
    font-weight: bold;
    font-size: 1.1em;
    color: #1569C7;
}

#edit-account-link 
{
    color: Black;
    font-weight: bold;
    text-decoration: none;
}

#search-area 
{
    position: absolute;
    left: 170px;
    margin-top: 3px;
}

#search-area #query
{
    width: 200px;
}


#main-area 
{
    margin-left: 160px;
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    min-height: 250px;
    padding: 15px;
    border-color: #C9C299;
}

.left { float: left; }
.right { float: right; }
.left-content { float: left; width: 48%; }
.right-content { float: right; width: 49% }