@model MyJobLeads.Controllers.ActiveSidebarLink
@using MyJobLeads.Controllers;

<h2 id="accountName">Not Logged In</h2>

<div id="leftHandNav">
    <ul>
        <li>@Html.ActionLink("Log In", MVC.Account.LogOn(), new { @class = Model == ActiveSidebarLink.Logon ? "active" : "" })</li>
        <li>@Html.ActionLink("Register", MVC.Account.Register(), new { @class = Model == ActiveSidebarLink.Register ? "active" : ""} )</li>
        <li>@Html.ActionLink("About", MVC.Home.About(), new { @class = Model == ActiveSidebarLink.About ? "active" : "" })</li>
    </ul>
</div>
