<p id="sidebar-links">
    @Html.ActionLink("About", MVC.Home.About()) <br /><br />

    @Html.ActionLink("Log In", MVC.Account.LogOn()) <br />
    @Html.ActionLink("Register Account", MVC.Account.Register())
</p>