@model MyJobLeads.ViewModels.Users.UserSidebarViewModel

@Model.DisplayName <br>
<a href="#">Edit My Account</a>
    			
<p>
    <a href="#">My Tasks</a><br>
    <a href="#">Contacts</a><br>
    <a href="#">Companies</a><br>
    <br>
    <a href="#">About</a><br>
</p>