@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Put content here.
     @Html.ActionLink("Test Registration Link", MVC.Account.RegisterWithOrganization(new Guid("B6ED1F68-DE3B-405C-A2EF-680F621BCB25"))
</p>
