@{
    ViewBag.Title = "A Jigsaw Error Has Occurred";
}

<div class="grid1 floatLeft"> 
    <div class="pageInfoBox"> 
        <div class="grid3 marginBottom_10 marginAuto floatLeft"> 
            <h3 class="floatLeft">A Jigsaw Error Has Occurred</h3> 
        </div> 
                
        <div class="grid3 marginBottom_10 marginAuto floatLeft">
            <div class="floatLeft">
                <p>
                    An unexpected error has occurred while attempting to contact the Jigsaw database.  
                    The system administrators have been notified, and we apologize for the inconvenience.
                </p>    
            </div>
        </div>

        <div class="clear"></div> 
    </div> 
</div>
