<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<body>
        <p>
            @Model.FullName,
        </p>

        <p>
            Welcome to InterviewTools!
        </p>

        <p>
            Your Career Services sent you this, because they thought you might be interested in testing the InterviewTools FillPerfect tool. If this is an error, you may unsubscribe below.
        </p>

        <h3>What is FillPerfect?</h3>

        <p>
            InterviewTools  FillPerfect automatically fills out online applications automatically, enabling you to apply to positions in a fraction of the time, with less errors!
            
            <ul>
                <li>Enter their information once, and at a touch of a button, FillPerfect completes your application, job board profile, or website registration.</li>
                <li>Avoid embarrassing mistakes and typos. Since you only fill out the information once, FillPerfect prevents errors  from fatigue or carelessness, but still gives you a chance to verify everything before it is submitted.</li>
                <li>Focus on finding and selectively applying to jobs, instead of having to type the same information over and over again. </li>
            </ul>

            For a more detailed look at how FillPerfect can accelerate your job search, 
            <a href="http://interviewtools.net/fillperfect/fillperfect-for-students/">visit our website</a> and watch the introductory video, “InterviewTools FillPerfect for Students”. 
        </p>

        <h3>To Download your Free Copy</h3>
        <p>
            On behalf of your Career Services, we are offering you one free copy of FillPerfect, useable for three-months.* <br /><br />
            To start using InterviewTools FillPerfect today, download it from 
            <a href="http://www.2424software.com/InterviewToolsFillPerfect_v3_2_6.zip">here</a>. <br /><br />
            After installing, you can activate your FillPerfect license with the following key: <b>@Model.FpKey</b>
        </p>
            
        <p>
            Best Regards, <br /><br />

            Josh Shapiro <br />
            Founder,  InterviewTools
        </p>

        <p>* 3-Month Trial begins when Career Services signed up for Pilot program. Each user’s time limit may be different, based on when Career Services started.</p>

	</body>
</html>