@model IList<JobSearch>
@using MyJobLeads.DomainModel.Entities;

@{
    ViewBag.Title = "My Job Searches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Job Searches</h1>
<div class="ScreenHint">This screen displays all job searches you have started.</div>

<ul>
    @foreach (JobSearch search in Model) 
    {
        <li>@Html.ActionLink(search.Name, MVC.JobSearch.Details(search.Id))</li>
    }
</ul>

<p>
    @Html.ActionLink("Start a new job search!", MVC.JobSearch.Add())
</p>


