@model MyJobLeads.ViewModels.Companies.JobSearchCompanyListViewModel

@{
    string companyWord = Model.Companies.Count == 1 ? "company" : "companies";
}

<h2>Companies</h2>

<p>
    This job search has @Model.Companies.Count @companyWord entered. 
    <br /><br />
    @Html.ActionLink("View All Companies", MVC.Company.List(Model.JobSearchId)) <br /><br />
    @Html.ActionLink("Add A New Company", MVC.Company.Add(Model.JobSearchId)) <br />
</p>